.styledButton{ 
transition-duration: 0.5s;
background-color: green;
border-radius: 8px;
font-size: 18px;
}
.styledButton:hover{
    background-color: red;
   color:rgb(0, 0, 0);
   font-size: 24px;

}

p{
    color: white;
    font-size: 24px;
}